<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.edwingariza.franssenpropertiesinc"
    tools:overrideLibrary="com.google.android.gms.maps">

    <user-permission android:name="android.permission.INTERNET" />
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Explore" />
        <activity android:name=".Centennial" />
        <activity android:name=".Location" />
        <activity android:name=".Tenant" />
        <activity android:name=".Emergency" />
        <activity android:name=".LogIn" />
        <activity android:name=".ServiceRequest" />
        <activity android:name=".Tips" />
        <activity android:name=".ContactUs" />
        <activity android:name=".Application" />
        <activity android:name=".ContinueApply" />
        <activity android:name=".Continue_C" />
        <activity android:name=".ApplicationD" />
        <activity
            android:name=".ApplicationE"
            android:exported="true" />
        <activity android:name=".ContinueFinal" />
        <activity android:name=".SelectProperty" />
        <activity
            android:name=".Register"
            android:exported="true" />
        <activity android:name=".PvGallery" />
        <activity android:name=".SpvGallery" />
        <activity android:name=".RentCalculator" />
        <activity android:name=".About" />
        <activity android:name=".Feedback"></activity>
    </application>

</manifest>